$color1: white;
$color2: black;
$BackgroundColor: linear-gradient(25deg, red, blue, green, black);
$BackgroundColorHeader: linear-gradient(5deg, #7c76ad, #a07a7a, #5f9975);
$BackgroundColorForm: rgba(0, 0, 0, 0.4);

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flecha {
    display: flex;
    position: absolute;
    margin-left: 0px;
    margin-bottom: 200px;
    margin-top: -20px;
    width: 50px;
}

#flecha-logo {
    width: 50px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    color: $color1;
    background: $BackgroundColorHeader;
    background-size: 400% 400%;
    animation: cambiar 20s ease-in-out infinite;
    padding: 10px;
}

@keyframes cambiar {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.sebaraw {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoIndex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    text-decoration: underline;
    font-size: xx-large;
    color:$color1;
}

body {
    height: 100%;
    width: 100%;
    color: $color1;
    background: $BackgroundColor;
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
    background-attachment: fixed;
}

h1 {
    border: solid 3px $color1;
    border-radius: 26px;
    padding: 5px 15px;
    background-color: $color2;
    font-weight: bold;
    font-size: xx-large;
    margin-left: 100px;
}

.menu-fullscreen {
    margin-left: 400px;
}

nav {
    ul {
        li {
            border: solid 3px $color1;
            display: inline-block;
            position: relative;
            padding: 10px 25px;
            border-radius: 25px;
            list-style-type: none;
            background-color: $color2;
            font-weight: 900;
            text-transform: capitalize;
            height: 4, 5vh;
            font-size: large;
            margin-left: 50px;
        }
    }
}

a {
    color: $color1;
    text-decoration: none;

    &:hover {
        text-decoration: line-through;
        text-decoration-style: solid;
        text-decoration-thickness: 2px;
    }
}

.img-up {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    img {
        width: 60vh;
        height: 100%;
        display: inline-flex;
        position: relative;
        top: 75px;
        border-radius: 1%;
    }
}

#video-home {
    height: 100vh;
    width: 180vh;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
    border: 0;
}

.video_home1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_home {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.textlogo{
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: underline;
    color: $color1;
}

.footer-line {
    color: $color1;
    margin-top: 50px;
    height: 100%;
    height: 5px;
    background-color: $color1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    .text-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        text-align: center;
        line-height: 3.5vh;
        font-weight: bold;
        font-size: large;
        text-decoration: solid;
        text-decoration-line: underline;

    }

    .footer-line {
        margin-top: 50px;
    }
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        list-style-type: none;
    }

    img {
        width: 10vh;
        padding: 10px;
    }
}

.grid-sobremi {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    width: 100%;

    .sobremi1 {
        margin-top: 50px;
        box-sizing: content-box;
        font-size: small;
        text-align: justify;
        margin-bottom: 60px;
        padding: 10px;
        border: 2px solid $color1;
    }

    .h31 {
        grid-column: 2;
        grid-row: 1-2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;


    }

    .h32 {
        grid-column: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

h3 {
    text-align: center;
    font-size: x-large;
    font-style: italic;
    text-decoration: underline;
}

form {
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    background: $BackgroundColorForm;
    margin-top: 65px;
    margin-bottom: 65px;
}

#h2-contacto {
    color: $color1;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}

textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#button-form {
    background: #31384A;
    color: white;
    padding: 20px;
    width: 100%;
    height: 80px;

    &:hover {
        cursor: pointer;
    }
}
h5{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    margin-top: 20px;
}
.imagens {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;


    img {
        width: 65vh;
        height: 35vh;
    }
}

.videos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;

    iframe {
        width: 99vh;
        height: 55vh;
    }

    .video-medio {
        width: 160vh;
        height: 90vh;
    }
}

.img-responsive {
    display: none;
}

.trespuntos {
    display: none;
}

.nav_responsive-ul {
    display: none;

    .nav__responsive-button-container {
        position: absolute;
        width: 100%;
        font-size: xxx-large;
        margin-top: -65px;
        color: black;
    }
}

.nav__responsive-button {
    text-align: center;
    width: 100%;
}

.img_responsive-fotos-ul1 {
    display: none;
    display: block;
    overflow: hidden;
    margin: 20px auto 0;
    margin-left: -20px;
    width: 100%;
    width: 90%;
    height: 90%;
    margin-left: 25px;

    img {
        width: 100%;
        height: 100%;
    }

    li {
        list-style-type: none;
        list-style-type: none;
    }

    ul {
        padding: 0;
        animation: slide 20s infinite alternate ease-in-out;
        display: flex;
        width: 500%;
    }
}

.img_responsive-fotos-ul1 {
    display: none;
}

.img_responsive-fotos-ul {
    display: block;
    overflow: hidden;
    margin: 70px auto 0;
    margin-left: -20px;
    width: 100%;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    margin: 70px auto 0;
    margin-left: -20px;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
    }

    li {
        list-style-type: none;
        list-style-type: none;
    }

    ul {
        padding: 0;
        animation: slide 20s infinite alternate ease-in-out;
        display: flex;
        width: 500%;
    }
}


.container {
    display: none;
}

.tittlevid {
    display: none;
}

@media screen and (max-width: 967px) {

    .textoIndex{
        font-size: x-large;
        text-justify: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color1;
    }
    form {
        width: 100%;
    }

    .menu-fullscreen {
        display: none;
    }

    .nav_responsive-ul {
        display: block;
        position: relative;
        width: 30%;
        height: 100%;
        margin-top: 37px;
        padding-top: 37px;
        top: -100%;

        &:hover {
            >.nav__li-container {
                top: 30px;
            }
        }
    }

    .nav__responsive-li {
        width: 110%;
        padding: 15px 40px;
        border: solid 2px $color1;
        padding: 10px 25px;
        border-radius: 25px;
        list-style-type: none;
        background-color: $color2;
        font-weight: 600;
        text-transform: capitalize;
        height: 4, 5vh;
        font-size: small;
        margin-left: -12px;
        text-align: center;
        
        
    }

    .nav__li-container {
        position: absolute;
        top: -1000px;
        cursor:pointer;

    }


    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .sebaraw {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -20px;
    }

    .video_home1 {
        display: none;
    }

    .linea-vertical {
        display: none;
    }

    .img-up {
        display: none;
    }

    .logo_home {
        img {
            display: flex;
            width: 90%;
            height: 280px;
            margin-top: 50px;
        }
    }

    .menu {
        li {
            display: none;
        }
    }

    .img-responsive {
        display: block;
        overflow: hidden;
        margin: 70px auto 0;
        width: 97%;

        img {
            width: 100%;
            height: 100%;
        }

        li {
            list-style-type: none;
        }

        ul {
            padding: 0;
            animation: slide 7s infinite alternate ease-in-out;
            display: flex;
            width: 400%;
        }
    }

    @keyframes slide {
        0% {
            margin-left: 0;
        }

        20% {
            margin-left: 0;
        }

        25% {
            margin-left: -100%;
        }

        45% {
            margin-left: -100%;
        }

        50% {
            margin-left: -200%;
        }

        70% {
            margin-left: -200%;
        }

        75% {
            margin-left: -300%;
        }

        100% {
            margin-left: -300%;
        }
    }

    .container {
        display: contents;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-top: 70px;

        .slider {
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }

        .controls {
            display: flex;
            gap: 20px;
            margin-top: 10px;
            justify-content: center;

            .control {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.7);
                cursor: pointer;
            }
        }
    }

    .tittlevid {
        margin-top: 90px;
        display: block;

    }

    .slider {
        .slider_content {
            width: 100%;
            height: fit-content;
            position: relative;
            display: none;
            justify-content: center;
            align-items: center;

            iframe {
                width: 100%;
                height: 500px;
                justify-content: center;
                align-items: center;
            }
        }

        .active {
            display: block;
        }
    }

    .videos {
        display: none;
    }

    .img_responsive-fotos-ul1 {
        display: none;
        display: block;
        overflow: hidden;
        margin: 20px auto 0;
        margin-left: -20px;
        width: 100%;
        width: 90%;
        height: 90%;
        margin-left: 25px;

        img {
            width: 100%;
            height: 100%;
        }

        li {
            list-style-type: none;
            list-style-type: none;
        }

        ul {
            padding: 0;
            animation: slide 20s infinite alternate ease-in-out;
            display: flex;
            width: 500%;
        }
    }

    .imagens {
        display: none;
    }

    .img_responsive-fotos-ul {
        display: block;
        overflow: hidden;
        margin: 70px auto 0;
        margin-left: -20px;
        width: 100%;
        width: 100%;
        height: 100%;
        display: block;
        overflow: hidden;
        margin: 70px auto 0;
        margin-left: -20px;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
        }

        li {
            list-style-type: none;
            list-style-type: none;
        }

        ul {
            padding: 0;
            animation: slide 20s infinite alternate ease-in-out;
            display: flex;
            width: 500%;
        }
    }

    .grid-sobremi {
        display: block;
    }
}

@media screen and (min-width: 1321px) and (max-width: 1600px) {

    .imagens {
        img {
            width: 40%;
            height: 20%;

        }
    }

    #fotomedio {
        display: none;
    }

    .container {
        display: contents;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-top: 90px;

        .slider {
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }

        .controls {
            display: flex;
            gap: 20px;
            margin-top: 10px;
            justify-content: center;

            .control {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.7);
                cursor: pointer;
            }
        }
    }

    .tittlevid {
        margin-top: 50px;
        display: block;
        margin-bottom: 70px;
    }

    .slider {
        .slider_content {
            width: 100%;
            height: fit-content;
            position: relative;
            display: none;
            justify-content: center;
            align-items: center;

            iframe {
                width: 100%;
                height: 500px;
                justify-content: center;
                align-items: center;
            }
        }

        .active {
            display: block;
        }
    }

    .videos {
        display: none;
    }

    .menu-fullscreen {
        display: none;
    }

    .nav_responsive-ul {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        margin-top: 37px;
        padding-top: 37px;
        top: -100%;

        &:hover {
            >.nav__li-container {
                top: 30px;
                margin-left: -40px;
            }
        }
    }

    .nav__responsive-button {
        width: 0;
    }

    .nav__responsive-button-container {
        width: 0;

    }

    .nav__responsive-li {
        width: fit-content;
        padding: 15px 40px;
        border: solid 2px $color1;
        padding: 10px 25px;
        border-radius: 25px;
        list-style-type: none;
        background-color: $color2;
        font-weight: 600;
        text-transform: capitalize;
        height: 4, 5vh;
        font-size: small;
        text-align: center;
        color: $color1;
    }

    .nav__li-container {
        position: absolute;
        top: -1000px;

    }

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .sebaraw {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -20px;
    }

    .menu-fullscreen {
        display: none;
    }

    

    .img_responsive-fotos-ul {
        display: block;
        overflow: hidden;
        margin: 70px auto 0;
        margin-left: -20px;
        width: 100%;
        width: 100%;
        height: 100%;
        display: block;
        overflow: hidden;
        margin: 70px auto 0;
        margin-left: -20px;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
        }

        li {
            list-style-type: none;
            list-style-type: none;
        }

        ul {
            padding: 0;
            animation: slide 20s infinite alternate ease-in-out;
            display: flex;
            width: 500%;
        }
    }

    .nav__responsive-li {
        width: 100%;
        padding: 15px 40px;
        border: solid 2px $color1;
        padding: 10px 25px;
        border-radius: 25px;
        list-style-type: none;
        background-color: $color2;
        font-weight: 600;
        text-transform: capitalize;
        height: 4, 5vh;
        font-size: small;
        margin-left: -12px;
        text-align: center;
        color:$color1;
    }

    .nav__li-container {
        position: absolute;
        top: -1000px;
        height: calc(100vh - 64px);
    }

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .sebaraw {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 120px;
        padding-right: 500px;
    }


    .trespuntos {
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-left: 200px;
    }

    .video_home1 {
        display: none;
    }

    .linea-vertical {
        display: none;
    }

    .img-up {
        display: none;
    }

    .logo_home {
        img {
            display: flex;
            width: 90%;
            height: 400px;
            margin-top: 50px;
        }
    }

    .menu {
        li {
            display: none;
        }
    }

    .img-responsive {
        display: block;
        overflow: hidden;
        margin: 70px auto 0;
        margin-left: -15px;
        width: 90%;
        margin-left: 60px;


        img {
            width: 100%;
            height: 100%;
        }

        li {
            list-style-type: none;
        }

        ul {
            padding: 0;
            animation: slide 7s infinite alternate ease-in-out;
            display: flex;
            width: 400%;
        }
    }

    @keyframes slide {
        0% {
            margin-left: 0;
        }

        20% {
            margin-left: 0;
        }

        25% {
            margin-left: -100%;
        }

        45% {
            margin-left: -100%;
        }

        50% {
            margin-left: -200%;
        }

        70% {
            margin-left: -200%;
        }

        75% {
            margin-left: -300%;
        }

        100% {
            margin-left: -300%;
        }
    }

}


@media screen and (min-width: 968px) and (max-width: 1320px) {


    .imagens {
        img {
            width: 40%;
            height: 20%;

        }
    }

    #fotomedio {
        display: none;
    }

    .container {
        display: contents;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-top: 90px;

        .slider {
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }

        .controls {
            display: flex;
            gap: 20px;
            margin-top: 10px;
            justify-content: center;

            .control {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.7);
                cursor: pointer;
            }
        }
    }

    .tittlevid {
        margin-top: 50px;
        display: block;
        margin-bottom: 70px;
    }

    .slider {
        .slider_content {
            width: 100%;
            height: fit-content;
            position: relative;
            display: none;
            justify-content: center;
            align-items: center;

            iframe {
                width: 100%;
                height: 500px;
                justify-content: center;
                align-items: center;
            }
        }

        .active {
            display: block;
        }
    }

    .videos {
        display: none;
    }

    .menu-fullscreen {
        display: none;
    }

    .nav_responsive-ul {
        display: block;
        position: relative;
        width: 5%;
        height: 100%;
        margin-top: 37px;
        padding-top: 37px;
        top: -100%;


        &:hover {
            >.nav__li-container {
                top: 30px;
                margin-left: -40px;
            }
        }
    }

    .nav__responsive-button {
        width: 0;
    }

    .nav__responsive-button-container {
        width: 0;

    }

    .nav__responsive-li {
        width: 100%;
        padding: 15px 40px;
        border: solid 2px $color1;
        padding: 10px 25px;
        border-radius: 25px;
        list-style-type: none;
        background-color: $color2;
        font-weight: 600;
        text-transform: capitalize;
        height: 4, 5vh;
        font-size: small;
        text-align: center;
        color: $color1;
    }

    .nav__li-container {
        position: absolute;
        top: -1000px;

    }

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .sebaraw {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -20px;
    }

    .menu-fullscreen {
        display: none;
    }

    .img_responsive-fotos-ul {
        display: block;
        overflow: hidden;
        margin: 70px auto 0;
        margin-left: -20px;
        width: 100%;
        width: 100%;
        height: 100%;
        display: block;
        overflow: hidden;
        margin: 70px auto 0;
        margin-left: -20px;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
        }

        li {
            list-style-type: none;
            list-style-type: none;
        }

        ul {
            padding: 0;
            animation: slide 7s infinite alternate ease-in-out;
            display: flex;
            width: 500%;
        }
    }

    .nav__responsive-li {
        width: 100%;
        padding: 15px 40px;
        border: solid 2px $color1;
        padding: 10px 25px;
        border-radius: 25px;
        list-style-type: none;
        background-color: $color2;
        font-weight: 600;
        text-transform: capitalize;
        height: 4, 5vh;
        font-size: small;
        margin-left: -12px;
        text-align: center;
        color: $color1;
    }

    .nav__li-container {
        position: absolute;
        top: -1000px;
        height: calc(100vh - 64px);
    }

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .sebaraw {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 120px;
        padding-right: 500px;
    }


    .trespuntos {
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-left: 200px;
    }

    .video_home1 {
        display: none;
    }

    .linea-vertical {
        display: none;
    }

    .img-up {
        display: none;
    }

    .logo_home {
        img {
            display: flex;
            width: 90%;
            height: 400px;
            margin-top: 50px;
        }
    }

    .menu {
        li {
            display: none;
        }
    }

    .img-responsive {
        display: block;
        overflow: hidden;
        margin: 70px auto 0;
        margin-left: -15px;
        width: 97%;
        margin-left: 15px;


        img {
            width: 100%;
            height: 100%;
        }

        li {
            list-style-type: none;
        }

        ul {
            padding: 0;
            animation: slide 7s infinite alternate ease-in-out;
            display: flex;
            width: 400%;
        }
    }

    @keyframes slide {
        0% {
            margin-left: 0;
        }

        20% {
            margin-left: 0;
        }

        25% {
            margin-left: -100%;
        }

        45% {
            margin-left: -100%;
        }

        50% {
            margin-left: -200%;
        }

        70% {
            margin-left: -200%;
        }

        75% {
            margin-left: -300%;
        }

        100% {
            margin-left: -300%;
        }
    }

}

@media screen and (min-width:1601px) and (max-width:1900px) {
    #fotomedio {
        display: none;
    }
}